---
layout: default
title: Home
---

{% include jumbotron.html %}

<div class="container" id="belief">
     <div class="row">
        <div class="col-md-10 col-xs-10 col-xs-offset-1 col-md-offset-1">
          <h1>Our Belief &amp; Approach</h1>
          <h2>People are the fundamental unit of any organization.</h2>
          <p>
            Extraordinary founding teams have the ability to identify the needs of their end markets, build market-changing products, and efficiently distribute them. We look for founders who are contrarian in thought, complementary in skill set, tenacious in approach, audacious with goals, and execution focused. We support founders not only through investment, but also with hands-on problem solving, relevant advice, and our extensive network.
          </p>
          <h1>Our Focus</h1>
          <h2>Technology businesses that have the potential to transform commerce and trade.</h2>
          <p>
            Our investing activities tend to focus on early stage technology businesses that have the potential to transform commerce and trade with a concentration in what we dub “logistics technology” that encompasses supply chain and transportation.
          </p>
		    </div>
    </div>
</div>


<div class="container-fluid" id="newsletter" >
  
     <div class="row">
      <div class=" col-xs-12 col-sm-10 col-sm-offset-1 text-center">
        {% include attention.html %}
      </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12">
          <h1>Our Companies</h1>
          <h2>A selection of the extraordinary founders and startups we've invested with.</h2>
        </div> <!-- end Row 2-->
    </div>
    <br>
    <div class="row">
        <div class="col-md-12 col-xs-12">
          {% include portfolioSelect.html %}
        </div>
    </div><!-- end Row 3-->
    <div class="row"
    </div>
</div>

