<div id ="newsletter_body">
   <div class="row">
   		<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
		   <h1>Dynamo Dispatch</h1>
		   <h2>Sign up for our newsletter</h2>
		   <p>Weekly update from Dynamo covering the latest and greatest in commerce and trade, #logisticstechnology, and building venture-scale businesses.</p>

		   <form class="form" action="https://tinyletter.com/dynamovc" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/dynamovc', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
			   	<div class="input-group input-group-lg" id="newsletter_field">
			   		<input type="text" class="form-control" name="email" id="tlemail" placeholder="Email"/>
			   		<span class="input-group-btn">
			   			<input type="hidden" value="1" name="embed"/>
			   			<input class="btn btn-primary" type="submit" value="Subscribe" />
			   		</span>
			   	</div>
		   </form>
		</div>
	</div>
</div>
