    <br>
    <br>
    <footer>
      <div class="container">
        <div class="col-lg-3 col-sm-3">
	  	  © 2017 Dynamo.
	  	</div>
	  	<div class="col-lg-3 col-sm-3">
	  		
	  	</div>
	  	<div class="col-lg-3 col-sm-3">
	  		
	  	</div>
	  	<div class="col-lg-3 col-sm-3">
	  		<p class="pull-right" id ="social-icons">
		  		<a href="http://twitter.com/thisisdynamo" target="_blank"><i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i></a>
		  		
		  		<a href="http://twitter.com/thisisdynamo" target="_blank"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a>
		  		
		  		<a href="http://angellist.com/thisisdynamo" target="_blank"><i class="fa fa-angellist fa-lg" aria-hidden="true"></i></a>
		  	</p>
	  	</div>

      </div>
    </footer>