    <br>
    <br>
    <footer>
      <div class="container">
        <div class="col-xs-6">
	  	  <a href="https://esharesinc.com/accounts/login/" target="_blank">LP Login</a>
	  	</div>

		© 2017 Dynamo.

	  	<div class="col-xs-6">
	  		<p class="pull-right" id ="social-icons">
		  		<a href="http://twitter.com/thisisdynamo" target="_blank"><i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i></a>
		  		
		  		<a href="https://www.linkedin.com/company-beta/10560107/" target="_blank"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a>
		  		
		  		<a href="http://angellist.com/thisisdynamo" target="_blank"><i class="fa fa-angellist fa-lg" aria-hidden="true"></i></a>

		  		<a href="http://facebook.com/thisisdynamo" target="_blank"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
		  	</p>
	  	</div>

      </div>
    </footer>