<div class="jumbotronCamp">
	<div class="container">
		<div class="row">

			<div class="col-lg-6 col-sm-6">
				<img src="img/dynamoFCLogoWhite.png" class="img-responsive" id="jumbotronCampLogo" alt="">
			</div>
			<div class="col-lg-6 col-sm-6">
		    	<h1 id="jumboTitleCamp">Let's transform the state of global trade and commerce.</h1>
		        <p class="camplead">Founders Camp is focused on helping early stage startups build their business through founder-led workshops and drive meaningful traction through introductions to a variety of corporations. <strong>Hosted in Chattanooga, TN from 10/1 to 10/5.</strong></p>
		       
		        <a class="btn btn-lg btn-default pull-right" href="#" target="_blank" role="button">Apply</a>
		    </div>
		</div>

    </div>
</div>