<div class="jumbotronCamp">
	<div class="container">
		<div class="col-lg-6 col-sm-6 col-xs-6">
			<img src="img/foundersCampLogo.png">
		</div>
		<div class="col-lg-6 col-sm-6 col-xs-6">
	    	<h1 id="jumboTitleCamp">Let's transform the state of global trade and commerce.</h1>
	        <p class="lead">A four day camp that's focused on helping you building your startup and drive traction.</p>
	       
	        <a class="btn btn-lg btn-default pull-right" href="#" target="_blank" role="button">Apply</a>
	    </div>
    </div>
</div>