      <div class="col-lg-3 col-sm-4 col-xs-6"><a title="Steam Logistics" href="http://steamlogistics.com" target="_blank"><img class="thumbnail img-responsive" src="img/steam.png"></a></div>
      
      <div class="col-lg-3 col-sm-4 col-xs-6"><a title="Starsky Robotics" href="http://starskyrobotics.com" target="_blank"><img class="thumbnail img-responsive" src="/img/starsky.png"></a></div>
      

      <div class="col-lg-3 col-sm-4 col-xs-6"><a title="SKUPOS" href="http://skupos.com" target="_blank"><img class="thumbnail img-responsive" src="/img/skupos.png"></a></div>

      <div class="col-lg-3 col-sm-4 col-xs-6"><a title="Slope.io" href="http://slope.io" target="_blank"><img class="thumbnail img-responsive" src="/img/slope.png"></a></div>

      <br>

      <div class="col-lg-3 col-sm-4 col-xs-6"><a title="Skydrop" href="http://skydrop.com.mx" target="_blank"><img class="thumbnail img-responsive" src="/img/skydrop.png"></a></div>
      
      
      <div class="col-lg-3 col-sm-4 col-xs-6"><a title="Armada" href="http://armada.ai" target="_blank"><img class="thumbnail img-responsive" src="/img/armada.png"></a></div>

      <div class="col-lg-3 col-sm-4 col-xs-6"><a title="Numadic" href="http://numadic.com" target="_blank"><img class="thumbnail img-responsive" src="/img/numadic.png"></a></div>

      <div class="col-lg-3 col-sm-4 col-xs-6"><a title="Sennder" href="http://sennder.com" target="_blank"><img class="thumbnail img-responsive" src="/img/sennder.png"></a></div>