/* Show it is fixed to the top */
@import url('https://fonts.googleapis.com/css?family=Podkova|Open+Sans');


$gray: #4B4F54;
$dark-red: #B21E28;
$lite-red: #E63C2F;
$green: #085156;
$white: #fff;
$navbar-default-link-hover-color: $lite-red;


html {
  position: relative;
  min-height: 100%;
}

body {
  /*min-height: 2000px;*/
  padding-top: 100px;
  margin-bottom: 20px;
  font-family: 'Podkova', serif;
  color: #gray;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-weight: bolder;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: bold;
}

h3 {
	font-family: 'Podkova', serif;
	font-size: 18px;
	font-weight: bolder;
}

p {
	font-size: 18px;
	line-height: 25px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: $green;
  font-size: 12px;
}

.navbar{
	min-height: 75px;
	background-color: $white;
	font-size: 18px;
	border-bottom: 0px;
	font-family: 'Open Sans', sans-serif;
	padding-top: 28.5px;
 	padding-bottom: 28.5px;
 	color: $gray;
}

.navbar-brand{
	padding-top: 0px;
	padding-bottom: 0px;
}
@media (max-width: 767px){

	.nav-pills > li{
		float: none;
	}

	.navbar-brand{
		height: none;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		margin-top: 20px; 
		border-bottom: 1px solid #e7e7e7;
	}

}


.nav > li > a {
	color:$gray;
}

.nav > li > a:hover{ 
    background-color: $lite-red; 
    color: $white;
    font-weight: bold;
}

.navbar-default .navbar-toggle {
	border: none;
}

.navbar-toggle .icon-bar {
	width: 32px;
	height: 4px;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: $lite-red;
}

.jumbotron{
	background: url("/img/redBG.gif");
	
}

#jumboTitle, p.lead{
	color: $white;
}

#teamclear {
	display: none;
}

@media (max-width: 767px){
	#teamclear {
		display: block;
	}
}

#newsletter {
	background-color: $green;
	margin: 40px 0px;
	padding: 50px;
	
}

#newsletter_body {
	padding: 20px;
	margin:20px;
	background: #fafafa;
	border-radius: 10px;
}

#newsletter_field{
	margin: 30px 0;
}

#newsletter h1 {
	color: $green;
	font-weight: bolder;
}

#newsletter h2{
	color: $lite-red;
	margin-top: 0px;
}

@media (max-width: 500px){

	#newsletter .input-group {
		display: block !important;
	}

	#newsletter .btn {
		margin-top: 15px;
		border-radius: 3px;
	}

	#newsletter{
		padding: 20px;
	}
}


.btn-primary{
	background: $dark-red;
	border-color: $dark-red;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: $lite-red;
    border-color: $lite-red; 
}


.modal-dialog {width:600px;}
.thumbnail {margin-bottom:30px;}

a {
color:$lite-red;}

a:hover {
color:$dark-red;}

#social-icons > a {
color:$gray;}

#social-icons > a:hover {
color:$lite-red;}


.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}

#belief {
	padding: 20px 15px 0;
}
/*body > .container {
  padding: 60px 15px 0;
}*/

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}